{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
<div class="dashboard-container">
  <div class="sidebar">
    <div>
      <img src="{{ asset('imageeee/logo.png') }}" alt="GreenBites Logo 2025" class="sidebar-logo-img">
      <h2>GreenBites</h2>
      <a href="{{ path('app_landing_page') }}" class="{% if active_menu is defined and active_menu == 'home' %}active{% endif %}"><i class="bi bi-house-door"></i> Home</a>
      <a href="{{ path('staff_dashboard') }}" class="{% if active_menu is defined and active_menu == 'dashboard' %}active{% endif %}"><i class="bi bi-speedometer2"></i> Dashboard</a>
      <a href="{{ path('app_products_index') }}" class="sidebar-link-emphasis {% if active_menu is defined and active_menu == 'products' %}active{% endif %}"><i class="bi bi-basket"></i> Products</a>
      <a href="{{ path('app_products_new') }}" class="sidebar-link-emphasis {% if active_menu is defined and active_menu == 'products_new' %}active{% endif %}"><i class="bi bi-plus-circle"></i> Create Product</a>
      <a href="{{ path('staff_orders_index') }}" class="sidebar-link-emphasis {% if active_menu is defined and active_menu == 'orders' %}active{% endif %}"><i class="bi bi-file-earmark-text"></i> Records</a>
      <hr>
      <a href="{{ path('staff_subscription_index') }}" class="sidebar-link-emphasis {% if active_menu is defined and active_menu == 'subscriptions' %}active{% endif %}"><i class="bi bi-file-earmark-text"></i> Subscriptions</a>
      <hr>
      <a href="{{ path('staff_profile') }}" class="sidebar-link-emphasis {% if active_menu is defined and active_menu == 'profile' %}active{% endif %}"><i class="bi bi-person-circle"></i> My Profile</a>
      <hr>
      <a href="{{ path('app_logout') }}" class="sidebar-logout-link"><i class="bi bi-box-arrow-right"></i> Logout</a>
    </div>
  </div>

  <div class="main-content">
    {% for message in app.flashes('error') %}
        <div class="staff-flash staff-flash--error">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="staff-flash staff-flash--success">
            {{ message }}
        </div>
    {% endfor %}
    {% block staff_content %}{% endblock %}
  </div>
</div>
{% endblock %}

